#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

input[type="file"] {
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-bottom: 1rem;
}

button {
  margin-top: 1rem;
}

img {
  display: block;
  margin: 1rem auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  max-width: 128px;
  height: auto;
}

@media (min-width: 600px) {
  img {
    max-width: 256px;
  }
}